In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../clustered_data_v2.csv')

In [6]:
pd.set_option('display.max_columns', None)

In [7]:
df

,price,bedrooms,bathrooms,sqft_lot_normalized,floors,waterfront,view,condition,yr_built,yr_renovated,zipcode,lat,long,nearest_station_distance_km,bathroom_category,density,commute_time,distance_to_point_km,is_near_shore,grade_living_normalized,bedrooms_cat,lot_size_category,grade_living_category,outliers_ecod,cluster_all_data,cluster_no_outlier,sqft_lot,grade_living
0,221900.0,3,1.00,8.639588,1.0,0,0,3,1955,0,98178,47.5112,-122.257,8620.002287,Studio or 1 Bathroom,5364.0,32.9,0.595763,False,9.019301,3-4,0,0,0,1,1.0,5650,8260
1,538000.0,3,2.25,8.887791,2.0,0,0,3,1951,1991,98125,47.7210,-122.319,2078.181042,2-3 Bathrooms,7999.0,28.9,3.038596,False,9.797627,3-4,1,2,0,0,0.0,7242,17990
2,180000.0,2,1.00,9.210440,1.0,0,0,3,1933,0,98028,47.7379,-122.233,8109.552186,Studio or 1 Bathroom,3833.0,33.1,2.317669,False,8.438366,<3,2,0,0,1,1.0,10000,4620
3,604000.0,4,3.00,8.517393,1.0,0,0,5,1965,0,98136,47.5208,-122.393,8918.318639,2-3 Bathrooms,7517.0,30.6,0.101668,True,9.526683,3-4,0,1,0,2,0.0,5000,13720
4,510000.0,3,2.00,8.997271,1.0,0,0,3,1987,0,98074,47.6168,-122.045,19789.800401,1-2 Bathrooms,2896.0,32.7,1.750656,False,9.506065,3-4,1,1,0,0,2.0,8080,13440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,7.031741,3.0,0,0,3,2009,0,98103,47.6993,-122.346,1372.516972,2-3 Bathrooms,11391.0,27.1,1.708484,False,9.412546,3-4,0,1,0,0,2.0,1131,12240
21609,400000.0,4,2.50,8.668024,2.0,0,0,3,2014,0,98146,47.5107,-122.362,8505.181320,2-3 Bathrooms,6034.0,29.8,1.990125,False,9.824498,3-4,0,2,0,0,0.0,5813,18480
21610,402101.0,2,0.75,7.208600,2.0,0,0,3,2009,0,98144,47.5944,-122.299,1942.180508,Studio or 1 Bathroom,9389.0,29.3,0.886906,False,8.873608,<3,0,0,1,1,-1.0,1350,7140
21611,400000.0,3,2.50,7.778630,2.0,0,0,3,2004,0,98027,47.5345,-122.069,18943.445917,2-3 Bathrooms,487.0,29.3,2.354171,False,9.457279,3-4,0,1,0,0,2.0,2388,12800
21612,325000.0,2,0.75,6.981935,2.0,0,0,3,2008,0,98144,47.5941,-122.299,1913.332127,Studio or 1 Bathroom,9389.0,29.3,0.883168,False,8.873608,<3,0,0,1,1,-1.0,1076,7140

In [12]:
df2 = pd.read_csv('../cleaned_data.csv')

In [13]:
df2

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,quarter,months_since_built,nearest_station_distance_km,bathroom_category,population,density,commute_time
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,2014,10,4,717,8620.002287,Studio or 1 Bathroom,26282,5364.0,32.9
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,2014,12,4,767,2078.181042,2-3 Bathrooms,43386,7999.0,28.9
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,2015,2,1,985,8109.552186,Studio or 1 Bathroom,23556,3833.0,33.1
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2014,12,4,599,8918.318639,2-3 Bathrooms,17245,7517.0,30.6
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2015,2,1,337,19789.800401,1-2 Bathrooms,30370,2896.0,32.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,2014,5,2,64,1372.516972,2-3 Bathrooms,52210,11391.0,27.1
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,2015,2,1,13,8505.181320,2-3 Bathrooms,27879,6034.0,29.8
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,2014,6,2,65,1942.180508,Studio or 1 Bathroom,31648,9389.0,29.3
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,2015,1,1,132,18943.445917,2-3 Bathrooms,27808,487.0,29.3
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,2014,10,4,81,1913.332127,Studio or 1 Bathroom,31648,9389.0,29.3

In [14]:
import joblib

In [15]:
model_cluster_0 = joblib.load("../model_cluster_0.joblib")

In [23]:
scaler_grade_living_cluster_0 = joblib.load("../scaler_grade_living_cluster_0.pkl")

In [ ]:
specific_features = ['grade_living_normalized', 'lat','nearest_station_distance_km']  # Example of top 3 features

In [30]:
# Assuming you have already loaded the scaler and defined model_cluster_0
# Load the scaler from the file
scaler_grade_living_cluster_0 = joblib.load('../scaler_grade_living_cluster_0.pkl')

# Assuming df is your original DataFrame
row = 20

grade_living = df['grade_living_normalized'].iloc[row]
lat =  df['lat'].iloc[row]
distance_to_station = df['nearest_station_distance_km'].iloc[row]
cluster_0_inputs = {
            'grade_living_normalized': [grade_living],
            'lat': [lat],
            'nearest_station_distance_km': [distance_to_station]
        }

# Convert dictionary to DataFrame
cluster_0_inputs_df = pd.DataFrame(cluster_0_inputs)

# Transform the features using the loaded scaler
cluster_0_inputs_scaled = scaler_grade_living_cluster_0.transform(cluster_0_inputs_df)
print(cluster_0_inputs_scaled)
predicted_price = model_cluster_0.predict(cluster_0_inputs_scaled)
print(predicted_price)

[[-0.81163244  1.02471003 -1.37110992]]
[20664.787]